<!DOCTYPE html>
<html>

<head>
  <title>{{title}} - ITE5315 Assignment 2 </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
  <div class="site-container">
    <div class="header">
      <h1>Deep Patel - N01679203</h1>
    </div>

    {{> navbar}}

    <div class="content">
      {{{body}}}
    </div>
  </div>

  <div class="footer">
    <p>deeppatel@humber.ca | ITE5315 Assignment 2 | Date: 28/10/2025</p>
  </div>
</body>

</html>